body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 3.0s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #43A047;
}

/* animated link button strat  */
nav {
    display: flex;
    /* Arrange links horizontally */
    list-style: none;
    /* Remove default styling */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.menu-link {
    display: block;
    /* Makes link fill entire list item */
    padding: 10px 20px;
    /* Padding for spacing */
    text-decoration: none;
    /* Remove underline */
    color: #333;
    /* Default text color */
    transition: all 0.3s ease-in-out;
    /* Animation properties */
}

.menu-link:hover {
    background-color: #ddd;
    /* Background color on hover */
    color: #007bff;
    /* Change text color on hover */
}